.container {
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: column;

  .inner {
    padding: 30px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    * {
      margin: 5px 0;
    }

    .header {
      margin: 0;
      display: flex;

      .title {
        font-size: xx-large;
        flex: 1;
      }

      .report {
        * {
          margin: 0;
        }
      }
    }

    .desc {
      font-size: large;
      flex: 1;
    }

    .address {
      font-size: large;
      color: gray;

      span {
        display: block;
      }
    }

    .tags {
      display: flex;
      overflow-x: auto;

      div {
        white-space: nowrap;
        &:not(&:first-child) {
          margin-left: 10px;
        }
      }
    }

    .newTags {
      ul {
        margin-left: 16px;
        list-style-type: circle;
        li {
          font-weight: bold;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;

      li {
        font-size: x-large;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .images {
      display: flex;
      flex-direction: column;

      img {
        cursor: pointer;

        &:not(&:first-child) {
          margin-top: 24px;
        }
      }
    }
  }
}