.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;

  .link {
    text-decoration: none;

    &:active, &:link, &:visited {
      color: #000;
    }
  }
}