.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .contentWrapper {
    width: 100%;

    .content {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .cover {
        width: 100%;
      }
    }
  }
}