.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    padding: 180px 18%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
  }

  .report-label {
    font-size: large;
  }
}