/*
 * @Author: Linhao Yu 
 * @Date: 2022-04-24 17:17:51 
 * @Last Modified by: Linhao Yu
 * @Last Modified time: 2022-04-27 21:28:43
 */

 .protable{
  //  float: right;
  display: flex;
  flex-direction: column;
  height: 100%;
 }