/*
 * @Author: Linhao Yu 
 * @Date: 2022-04-15 00:10:21 
 * @Last Modified by: Linhao Yu
 * @Last Modified time: 2022-04-24 17:58:18
 */

.layout{
    height: 100%;
    .sublayout{
        margin-top: 80px;
        .content{
            background-color:aliceblue;
        }
        
    }
    .footer{
        text-align: center;
        padding: 10px 50px;
    }
    
}



  