/*
 * @Author: Linhao Yu 
 * @Date: 2022-03-29 14:27:13 
 * @Last Modified by: Linhao Yu
 * @Last Modified time: 2022-03-29 14:30:17
 */
.header{
  padding:0px;
  display: flex;
  align-items: center;
  .button{
    flex: 1;
  }
  .profilePart{
    flex: 10;
    text-align: right;
    margin-right: 20px;
    .avatar{
      margin-left: 10px;
    }
  }
}